<!-- CS2340App/templates/registration/password_reset_done.html -->
{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Password Reset Sent - Atlanta Food Finder{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="alert alert-success text-center">
            <h4>Password reset email has been sent.</h4>
            <p>Please check your inbox for further instructions.</p>
        </div>
    </div>
</div>
{% endblock %}
