<!-- CS2340App/templates/restaurants/register.html -->
{% extends 'base.html' %}

{% block extra_head %}
    <!-- No additional styles needed as they are in styles.css -->
{% endblock %}

{% block content %}
    <div class="auth-background">
        <div class="form-container">
            <h2 class="text-center mb-4">Register</h2>
            <form method="post">
                {% csrf_token %}
                <div class="mb-4">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>
                <div class="mb-4">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
                <div class="mb-4">
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                </div>
                <div class="mb-4">
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                </div>
                <button type="submit" class="btn-custom">Sign Up</button>
            </form>
            <div class="auth-links">
                <p>Already have an account? <a href="{% url 'login' %}">Login here</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}
